{#
/**
 * @file
 * Default theme implementation to display a Wtag form element.
 */
#}
<div class="wtag-wrapper">
  <textarea {{ attributes }} hidden>{{ value }}</textarea>
  <script type="application/json">{{ wtag }}</script>
</div>
