{#
/**
 * @file
 * Default theme implementation for rendering webtools social share.
 *
 * Available variables:
 * - title: TranslatableMarkup title for the block.
 * - icons_json: icons rendered by webtools library.
 *
 * @ingroup themeable
 */
#}
<div class="ecl-social-media-share">
  <h2>{{ title }}</h2>
  <script type="application/json">{{ icons_json }}</script>
</div>
