name: ci
on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - master

jobs:
  automated-tests:
    uses: openeuropa/github-ci/.github/workflows/drupal-ci.yml@EWPP-6514
    with:
      run_behat: true
